@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Iceland&display=swap');


* {
  margin: 0;
  
  box-sizing: border-box;
}

main {
  margin-top: 30px;
  padding: 15px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}

:root {
  --primary-color: #A1B5D8;
  --secondary-color: #394d60;
  --card-color: #FFFCF7;
  --hover-color: #ffd700;
}

body {
  background: linear-gradient(90deg, #f3f5db 0%, #bbc5a0 100%);
  font-family: 'Iceland', sans-serif;
  height: 100%;
}

h1 {
  font-family: 'Goldman', sans-serif;
}

nav {
  background-color: var(--card-color);
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  letter-spacing: 1px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo img {
  height: 50px;
}

.menu {
  display: flex;
  gap: 10px;
  list-style-type: none;
  font-size: larger;
}

.menu li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.menu li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--hover-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.menu li a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  margin-left: auto;
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--card-color);
    display: none;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    z-index: 999;
  }

  .menu.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
.card {
  background: url('../images/background-hero.webp') no-repeat center center;
  background-size: cover;
  border: 7px solid #f1c40f;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  padding: 16px;
  width: 350px;
  margin: 20px auto;
  color: #212f3d;
  font-family: 'Iceland', sans-serif;
  position: relative;
}


.card img {
  top: 20px;
  left: 55%;
  position: inherit;
  transform: translateX(-50%);
  width: 200px;
}

.pokemon-info {
  background: var(--card-color);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.pokemon-info p {
  font-size: 0.95em;
  margin: 4px 0;
  text-align: center;
}

.pokemon-info h3 {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  color: #2c3e50;
}



.pokemon-info input[type="button"] {
  background-color: #f1c40f;
  border: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-size: 1em;
  padding: 10px;
  margin: 10px 100px;
  align-items: center;

}

.search {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
}
.search input[type="text"]:focus {
  border-color: var(--hover-color);
  outline: none;
}

.search button {
  background-color: #394d60;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  margin: 20px 0 0 10px;
  box-shadow: -2px 3px 0 #000000, -4px 6px 0 #212f3d;
}

.search button:active {
  box-shadow: inset -2px 3px 0 #000000, inset -4px 6px 0 #212f3d;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  gap: 30px;
  margin: 30px auto 30px;
  max-width: 1200px;
  

  @media screen and (min-width: 600px) {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    
  }

}

 #load-more {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 20px auto;
  display: block;
}

#load-more:hover {
  background-color: var(--hover-color);
}


form{
  text-align: center;
}

footer {
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

#chatBox {
  width: 300px;
  height: 400px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.4s ease;
  pointer-events: none;
}

#chatBox.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.chat-header {
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
}

.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
}

.chat-footer {
  padding: 10px;
  display: flex;
  gap: 10px;
}

.chat-footer input {
  flex: 1;
  padding: 5px;
}

.chat-message {
  margin-bottom: 10px;
}

.user-message {
  text-align: right;
  color: rgb(43, 37, 69);
  font-family: 'Iceland', sans-serif;
  font-size: 15px;
}

.bot-message {
  text-align: left;
  color: rgb(12, 114, 12);
  font-family: 'Iceland', sans-serif;
  font-size: 15px;
}

.botao-imagem {
  width: 80px;
  cursor: pointer;
  position: sticky;
  bottom: 20px;
  right: 30px;
@media (max-width: 600px) {
      width: 50px;
  }

}

.botao-imagem:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

#pokemon-img {
  width: 300px;
  transition: filter 0.6s ease-in-out, transform 0.3s ease;
}

.silhouette {
  filter: brightness(0) saturate(100%) invert(0);
}

.reveal {
  filter: none;
  transform: scale(1.05);
}

.option-btn {
  margin: 10px;
  padding: 10px 20px;
  border: 2px solid transparent;
  cursor: pointer;
}

.option-btn.correct {
  border-color: green;
}

.option-btn.incorrect {
  border-color: red;
}

.hidden {
  display: none;
}

#game {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

@media (max-width: 600px) {
  #game {
    padding: 10px;
    text-align: center;
  }

  .option-btn {
    display: block;
    width: 100%;
    margin: 8px 0;
  }

  #pokemon-img {
    width: 80%;
    max-width: 250px;
  }
}


#play-again {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.2em;
  padding: 10px 20px;
  margin-top: 20px;
}

/* Spinner container */
#loading-spinner {
  display: none; /* escondido por padrão */
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

/* Spinner visual */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top: 6px solid #3b4cca; /* cor Pokémon */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Keyframe da rotação */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.evolution-chain {
      display: flex;
      gap: 15px;
      align-items: center;
      margin-top: 20px;
      justify-content: center;
    }
    .evolution-stage {
      text-align: center;
      font-size: 30px;
      @media (max-width: 600px) {
        font-size: 15px;
      }
    }
    .evolution-stage img {
      width: 150px;
      object-fit: contain;
      @media (max-width: 600px) {
        width: 80px;
      }
    }